.section-3 {
  height: 55vh;
  background: #251C5B;
  margin-top: 350px;
  overflow-y: hidden;
  .col-2 {
    display: flex;
    position: relative;
    .masks_image {
      width: 600px;
      height: 357px;
      position: absolute;
      top: 57px;
    }
    .titles {
      h2 {
        color: #FFFEFF;
      }
      p {
        color: #B0ADD3;
      }
      .icons {
        display: flex;
        margin-top: 30px;
        .block {
          display: flex;
          align-items: center;
          color: #CCC9DA;
          h3 {
            margin: 0 30px 0 10px;
          }
        }
      }
    }
  }
}

