//MEDIA QUERY MANAGER

.container {
  
  @media (max-width: 429px) {

    overflow-x: hidden;
    height: 455vh;
    
    //header_start
    #header {
      height: 66vh !important;
      nav {
        .logo_image {
          margin-left: 50px;
        }
        .hamburger {
          margin-right: 50px;
        }
      }
      .content {
        .col-2 {
          .titles {
            margin-left: -120px;
          }
          img {
            width: 100vw;
            top: 95px;
            right: -140px;
          }
        }
      }
    }
    //header_end

    //section_one_start
    .section-1 {
      .col-2 {
        flex-direction: column;
        margin-top: 150px;
        img {
          margin-right: 50px;
          width: 300px;
          height: 300px;
        }
        .titles {
          left: 2%;
          margin-top: 600px;
        }
      }
      .col-4 {
        margin-top: 250px;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        .block {
          margin-top: 50px;
        }
      }
    }
    //section_one_end

    //section_two_start
    .section-2 {
      margin-left: 0;
    }
    //section_two_end

    //titles
    .c {
      width: 425px;
    }

    //section_three_start
    .section-3 {
      height: 35vh;
    }
    //section_three_end

    //footer_start
    footer {
      height: 50vh;
      .logo_icon, .contacts {
        left: 50%;
        transform: translate(-50%);
      }
      .logo_icon {
        top: 50px;
      }
      .contacts {
        top: 200px;
      }
    }
    //footer_end

    //copyright
    .copyright {
      height: 6vh;
      flex-direction: column-reverse;
      justify-content: space-around;
      margin: 0 30px;
      top: -80px;
      p {
        font-size: 13px;
        margin-left: 0;
        margin-bottom: 8px;
      }
      .social-icons {
        margin-right: 0;
        margin-top: 8px;
      }
    }

  }

}

