// MEDIA QUERY MANAGER

.home_container {
  
  //[429-835]-->834

  @media (max-width: 835px) {

    overflow: hidden;
    
    //header_start
    header {
      h1 {
        left: 20%;
      }
      .mockup_image_left {
        top: 150px;
        left: -900px;
        transform: rotate(10deg);
      }
      .col-2_home {
        .upper_body_image {
          bottom: 150px;
          left: 100px;
        }
        .titles_header_home {
          right: -10px;
          bottom: 230px;
          h2 {
            font-size: 25px;
          }
        }
      }
    }
    //header_end

    //section_one_start
    .section-1_home {
      .colomn_mockup_image {
        width: 300px;
        height: 500px;
        margin-top: 0;
        margin-left: 70px;
      }
      .titles_home {
        margin-top: 50px;
        margin-left: 50px;
        h2 {
          width: 367px;
          font-size: 40px;
        }
        .w-3 {
          width: 230px;
        }
        .hidden {
          display: none;
        }
        p {
          font-size: 13px;
        }
      }
      .full_mockup_image_right {
        right: 1050px;
        top: -350px;
        width: 2000px;
        transform: rotate(5deg);
      }
    }
    //section_one_end

    //section_two_start
    .section-2_home {
      margin-top: -800px;
      h2 {
        padding-top: 0;
        left: 0;
        text-align: center;
      }
      .col-2_home {
        h1 {
          display: none;
        }
        .row-4_home {
          width: 100%;
        }
      }
      .services {
        left: 0;
        text-align: center;
        padding-top: 50px;
      }
      .services_content {
        justify-content: space-between;
        .row-3 {
          margin-left: 50px;
          p {
            line-height: 1.4;
            font-size: 13px;
          }
        }
        .phone_image {
          right: 0;
          width: 200px;
          height: 280px;
          margin-right: 50px;
        }
      }
    }
    //section_two_end

    //section_three_start
    .section-3_home {
      height: 150vh;
      .section_testimonial_mockup {
        width: 900px;
        height: 1200px;
        left: -600px;
        top: 150px;
        transform: rotate(5deg);
      }
      .testimonials_text {
        left: 20px;
        h2 {
          font-size: 20px;
          padding-top: 50px;
          top: 0;
          left: -30.5%;
        }
        .wrapper {
          margin-top: 20px;
          h3 {
            font-size: 13px;
          }
        }
        span, p {
          font-size: 10px;
        }
        span {
          p {
            margin-top: -15px !important;
          }
        }
        p {
          padding-bottom: 30px;
          padding-top: 0;
          width: 330px;
        }
        h2, .wrapper, span, p {
          margin-left: 70px;
        }
        &::before {
          width: 100px;
          height: 32px;
          left: 170px;
        }
      }
      .body_mockup {
        width: 300px;
        height: 345px;
        top: 200px;
      }
      h2 {
        margin-left: 0;
        text-align: center;
        position: relative;
      }
      .col-3 {
        top: -350px;
        margin-left: 10px;
        .card {
          width: 250px;
          height: 400px;
          padding-right: 10px;
        }
        .project_card {
          width: 250px;
          height: 400px;
          margin-right: 10px;
          .content {
            margin-left: 30px;
            img {
              width: 100px;
            }
            p {
              font-size: 10px;
            }
            h1 {
              font-size: 30px;
            }
            .project_card_link {
              img {
                margin-top: 35px;
                width: 30px;
                height: 15px;
              }
            }
          }
        }
      }
      .bg_row_section_mockup {
        width: 4000px;
        top: -2250px;
      }
      .col-2_home_title {
        justify-content: space-between;
        top: -3600px;
        left: 50px;
        h1 {
          font-size: 40px;
          padding-right: 0;
        }
        .container_second_col {
          margin-right: 100px;
          p {
            line-height: 1.5;
            font-size: 18px;
          }
        }
      }
    }
    //section_three_end

    //footer_start
    .footer {
      height: 38vh;
      padding-top: 0;
      .container {
        justify-content: flex-start;
        flex-direction: column;
        .logo_icon {
          margin-left: 50px;
        }
        .content {
          position: relative;
          margin-top: 70px;
          .contacts {
            margin-left: 50px;
          }
          .phones {
            position: absolute;
            top: -15px;
            left: 45%;
          }
        }
        .footer_mockup {
          display: none;
        }
      }
      .copyright {
        height: 6vh;
        top: 0;
        margin-top: 50px;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-around;
        p {
          margin-left: 30px;
          margin-bottom: 8px;
        }
        .social-icons {
          margin-left: 25px;
          margin-top: 8px;
          a {
            margin-right: 20px;
          }
        }
        &::after {
          display: none;
        }
      }
    }
    //footer_end

  }

}

